@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Merriweather:wght@400;700&display=swap');

/* header style */

.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/banner.png);
    align-items: center;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-top: 50px;
}



.content {

    padding: 120px 334px;
    /* width: 0 82.5%;
    max-width: 1320px; */
}

.content p {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.content h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    /* padding-left: 330px; */
}

/* body style */
.offer {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.description {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.title2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.pic1 {
    width: 802.9px;
    height: 500px;
    margin-left: 545px;
}

.banner2 {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Vectorrr.png);
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    margin-top: 120px;
    position: absolute;
    left: 280px;
    display: flex;
    justify-content: space-around
}

.title3 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
    margin-bottom: 24px;
}

.description2 {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    margin-bottom: 40px;
}

.btn1 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: transparent;
    border: 0;
}

.pic2 {
    position: absolute;
    top: 70px;
    right: 135px;
}

.content2 {
    margin-top: 80px;
    padding-right: 190px;
}

.window {
    background-color: pink;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    margin-top: 840px;
    margin-left: 280px;
    border-radius: 16px;
}

.window {
    text-align: center;
    padding-top: 100px;
}

.place {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.date {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.time {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.window span {
    color: #F00;
}

.new-offer {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.soon {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.description3 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
}

.round {
    padding: 49px 49px;
    border-radius: 463px;
    border: 15px solid #F00;
}

.title4 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.description4 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 276px;
}

.window2 {
    display: flex;
    justify-content: space-between;
    width: 1320px;
    margin-left: 280px;
    margin-top: 120px;
}

.window3 {
    text-align: center;
    margin-top: 120px;
    width: 1320px;
    height: 728px;
    margin-left: 280px;
}

.title5 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.sale {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.sale span {
    color: #F00;
}

.window3 p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.gift {
    padding-top: 64px;
    padding-right: 523px;
    background-image: url(../images/Rectangle\ 2.png), url(../images/Rectangle\ 1.png);
    background-repeat: no-repeat;
    border-radius: 16px 16px 0px 0px;
    background-position: bottom, right 25%;
    width: 796.463px;
    height: 662.07px;
}

.discount {
    width: 206.841px;
    height: 206.841px;
    position: absolute;
    right: 620px;
    padding-top: 240px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.window4 {
    margin-top: 540px;
}

.window4 h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.window4 h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.window4 p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
}

.container2 {
    width: 1320px;
    padding-left: 280px;
}

.pics {
    margin: 5px;
}
.pics:hover{
    cursor: pointer;
}

.window5 {
    margin-top: 120px;
    width: 1320px;
    margin-left: 280px;
    text-align: center;
    background-color: #FEF2F2;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);

}

.window5 h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.window5 p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    padding-left: 212px;
}

.mail {
    padding-top: 80px;
}

.email {
    width: 438px;
    height: 72px;
    border-radius: 50px 0 0 50px;
    border: 0;
    background: #FFF;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-left: 30px;
}

.btn2 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    width: 210px;
    height: 72px;
    border: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}

form {
    align-self: center;
    padding-bottom: 80px;
    display: flex;
    padding-left: 280px;
}

/* footer style */
footer {
    background: #070211;
    height: 609px;
    margin-top: 100px;
}

.foot1 h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    width: 375px;
    /* padding-top: 120px;
    padding-left: 280px; */
}

footer ul li {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.foot1 {
    display: flex;
    justify-content: space-between;
    width: 1320px;
    padding-left: 280px;
    padding-top: 120px;
}

hr {
    background: rgba(255, 255, 255, 0.15);
    width: 1320px;
    height: 1px;
    border: 0;
}

.icons {
    padding-top: 48px;
    padding-bottom: 48px;
    text-align: center;
}

footer a {
    padding-left: 24px;
}

.last-foot h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.last-foot{ 
    width: 1320px;
    padding-left: 280px;
    display: flex;
    justify-content: space-between;
}